<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeControl</servlet-name>
        <servlet-class>controller.HomeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryControl</servlet-name>
        <servlet-class>controller.CategoryControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailControl</servlet-name>
        <servlet-class>controller.DetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControl</servlet-name>
        <servlet-class>controller.SearchControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>controller.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpControl</servlet-name>
        <servlet-class>controller.SignUpControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutControl</servlet-name>
        <servlet-class>controller.LogOutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerControl</servlet-name>
        <servlet-class>controller.ManagerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteControl</servlet-name>
        <servlet-class>controller.DeleteControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddControl</servlet-name>
        <servlet-class>controller.AddControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadControl</servlet-name>
        <servlet-class>controller.LoadControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditControl</servlet-name>
        <servlet-class>controller.EditControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartControl</servlet-name>
        <servlet-class>controller.AddCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartControl</servlet-name>
        <servlet-class>controller.RemoveCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutControl</servlet-name>
        <servlet-class>controller.CheckoutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartControl</servlet-name>
        <servlet-class>controller.ViewCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginformControl</servlet-name>
        <servlet-class>controller.LoginformControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddformControl</servlet-name>
        <servlet-class>controller.AddformControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeControl</servlet-name>
        <url-pattern>/HomeControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryControl</servlet-name>
        <url-pattern>/CategoryControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailControl</servlet-name>
        <url-pattern>/DetailControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchControl</servlet-name>
        <url-pattern>/SearchControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/LoginControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpControl</servlet-name>
        <url-pattern>/SignUpControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutControl</servlet-name>
        <url-pattern>/LogOutControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerControl</servlet-name>
        <url-pattern>/ManagerControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteControl</servlet-name>
        <url-pattern>/DeleteControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddControl</servlet-name>
        <url-pattern>/AddControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadControl</servlet-name>
        <url-pattern>/LoadControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditControl</servlet-name>
        <url-pattern>/EditControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartControl</servlet-name>
        <url-pattern>/AddCartControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartControl</servlet-name>
        <url-pattern>/RemoveCartControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutControl</servlet-name>
        <url-pattern>/CheckoutControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartControl</servlet-name>
        <url-pattern>/ViewCartControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginformControl</servlet-name>
        <url-pattern>/LoginformControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddformControl</servlet-name>
        <url-pattern>/AddformControl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HomeControl</welcome-file>
    </welcome-file-list>
</web-app>
